*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.searchBar {
  width: 275px;
  height: 35px;
  border: solid 1px black;
}

.btn {
  width: 275px;
  height: 25px;
  color: whitesmoke;
  border-radius: 5px;
}

/* .searchBtn{
    background-color: rgb(30, 30, 41);
    width: 50px;
    height: 35px;
} */

.btn:hover {
  opacity: 75%;
  font-style: italic;
}

button {
  background-color: grey;
  height: 25px;
  width: 275px;
  border-radius: 5px;
}

button:hover {
  opacity: 75%;
  font-style: italic;
}
